In [2]:
import numpy as np
import pandas as pd

## Random values in a given shape

In [3]:
x = np.random.rand(5,10)

In [4]:
x

array([[0.55959799, 0.88702218, 0.41206057, 0.31103075, 0.74848808,
        0.36081555, 0.51798991, 0.1066463 , 0.11157386, 0.03042154],
       [0.8330185 , 0.83498039, 0.69506415, 0.92688981, 0.10200379,
        0.86574564, 0.5367879 , 0.34398883, 0.99349448, 0.07962933],
       [0.50067921, 0.63339504, 0.60029714, 0.99200905, 0.26518776,
        0.4545245 , 0.70635129, 0.71563912, 0.5643725 , 0.33464417],
       [0.68921868, 0.87386306, 0.41196194, 0.30135881, 0.74699682,
        0.60074284, 0.39862164, 0.26672074, 0.16824607, 0.61955344],
       [0.93165555, 0.44462511, 0.2487168 , 0.0538296 , 0.51038248,
        0.18576165, 0.84688991, 0.65860153, 0.22121767, 0.54974433]])

In [5]:
np.sum(x, axis=0)/5

array([0.70283399, 0.73477715, 0.47362012, 0.5170236 , 0.47461179,
       0.49351804, 0.60132813, 0.4183193 , 0.41178091, 0.32279856])

In [6]:
x.shape[0]

5

## Return a sample (or samples) from the “standard normal” distribution

In [7]:
np.random.randn(5, 10)

array([[ 1.27608609, -1.11684894,  0.11233552,  1.06811879, -0.42916098,
        -2.06917783,  2.09025597,  1.06805271,  0.46425098,  0.34950278],
       [ 0.76542445, -1.31733569, -0.09028378, -0.81801155,  0.65570225,
         0.62083975, -1.50938054,  2.03921931,  0.00509657, -0.63002605],
       [-1.34917148, -0.9684659 , -0.69541556, -1.05784204,  0.93707672,
         0.30086785, -0.25045457,  1.82599474,  0.5121975 ,  1.17375658],
       [ 0.44766142,  0.53371804, -0.09247403,  1.66273006,  0.31920263,
         0.58372508, -0.68681906, -1.32485053, -0.18921277, -0.04844193],
       [ 2.37045725,  0.62861356, -0.76066884, -1.26546551, -1.16921034,
         1.63793739,  0.3542212 ,  0.03960443, -0.90465231, -1.20213958]])

## Return random integers from low (inclusive) to high (exclusive).

In [8]:
np.random.randint(low=1, high=10, size=10, dtype=np.int)

array([8, 4, 2, 8, 8, 5, 7, 8, 5, 1])

## Random integers of type np.int between low and high, inclusive.

In [9]:
np.random.random_integers(low=1, high=10, size=10)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead
  """Entry point for launching an IPython kernel.

array([2, 4, 2, 5, 1, 2, 9, 7, 5, 1])

## Return random floats in the half-open interval [0.0, 1.0).

In [10]:
np.random.random_sample([10])

array([0.0220663 , 0.00218311, 0.34703291, 0.52093719, 0.61907551,
       0.63565937, 0.41537275, 0.27172762, 0.9573885 , 0.58174953])

In [11]:
np.random.random_sample([3, 10])

array([[0.24251605, 0.31915999, 0.05416585, 0.0939976 , 0.74990405,
        0.64117203, 0.41428579, 0.86387212, 0.06426503, 0.73504863],
       [0.56622694, 0.03598303, 0.98977739, 0.82622542, 0.9217462 ,
        0.33600805, 0.0856158 , 0.21128787, 0.17850212, 0.33872772],
       [0.80265759, 0.5449236 , 0.84061209, 0.60032093, 0.12944207,
        0.8399782 , 0.41458034, 0.37043452, 0.69241611, 0.56221513]])

## Return random floats in the half-open interval [0.0, 1.0).

In [12]:
np.random.random([3, 10])

array([[0.01724924, 0.60788875, 0.21076661, 0.15921181, 0.55458597,
        0.26072089, 0.37657925, 0.52597196, 0.80155374, 0.70001715],
       [0.52996483, 0.1759408 , 0.66335796, 0.32871361, 0.80193041,
        0.20504331, 0.77411069, 0.35607587, 0.69559952, 0.08020535],
       [0.06335272, 0.7531342 , 0.30740739, 0.29727885, 0.9942041 ,
        0.97004705, 0.28707849, 0.44806406, 0.59246304, 0.96203206]])

## Return random floats in the half-open interval [0.0, 1.0).

In [13]:
np.random.ranf([3, 10])

array([[0.05718044, 0.12417438, 0.59549173, 0.0311801 , 0.51565917,
        0.63789054, 0.96054024, 0.39599556, 0.66011108, 0.98325578],
       [0.66652137, 0.23717581, 0.48325315, 0.59869647, 0.8440033 ,
        0.79323812, 0.16547866, 0.54538951, 0.41624109, 0.7781026 ],
       [0.17177204, 0.15468175, 0.42392528, 0.59607099, 0.03507447,
        0.72506585, 0.00240348, 0.01190442, 0.55548785, 0.72466784]])

## Return random floats in the half-open interval [0.0, 1.0).

In [14]:
np.random.sample([3, 10])

array([[0.91411944, 0.78083935, 0.31875697, 0.97494477, 0.06888496,
        0.25269142, 0.5791113 , 0.37691576, 0.81074475, 0.16736022],
       [0.06445462, 0.96788394, 0.56117257, 0.73246572, 0.25847956,
        0.47474862, 0.08028485, 0.1624964 , 0.31064732, 0.29028909],
       [0.87987886, 0.91424377, 0.95159845, 0.68682699, 0.54574873,
        0.63101136, 0.82805358, 0.69370437, 0.84862047, 0.20580903]])

## Generates a random sample from a given 1-D array

In [15]:
np.random.choice(a=[1,2,3,4], size=(2, 3), replace=True, p=[0.1, 0.2, 0.3, 0.4])

array([[3, 3, 1],
       [3, 2, 4]])

In [16]:
help(np.random.choice)

Help on built-in function choice:

choice(...) method of mtrand.RandomState instance
    choice(a, size=None, replace=True, p=None)

    Generates a random sample from a given 1-D array

            .. versionadded:: 1.7.0

    Parameters
    -----------
    a : 1-D array-like or int
        If an ndarray, a random sample is generated from its elements.
        If an int, the random sample is generated as if a were np.arange(a)
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    replace : boolean, optional
        Whether the sample is with or without replacement
    p : 1-D array-like, optional
        The probabilities associated with each entry in a.
        If not given the sample assumes a uniform distribution over all
        entries in a.

    Returns
    --------
    samples : single item or ndarray
        The generated random samples

    Raises
    -------
    ValueError
        If a is an int and less than zero, if a or p are not 1-dimensional,
        if a is an array-like of size 0, if p is not a vector of
        probabilities, if a and p have different lengths, or if
        replace=False and the sample size is greater than the population
        size

    See Also
    ---------
    randint, shuffle, permutation

    Examples
    ---------
    Generate a uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3)
    array([0, 3, 4])
    >>> #This is equivalent to np.random.randint(0,5,3)

    Generate a non-uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3, p=[0.1, 0, 0.3, 0.6, 0])
    array([3, 3, 0])

    Generate a uniform random sample from np.arange(5) of size 3 without
    replacement:

    >>> np.random.choice(5, 3, replace=False)
    array([3,1,0])
    >>> #This is equivalent to np.random.permutation(np.arange(5))[:3]

    Generate a non-uniform random sample from np.arange(5) of size
    3 without replacement:

    >>> np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
    array([2, 3, 0])

    Any of the above can be repeated with an arbitrary array-like
    instead of just integers. For instance:

    >>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
    >>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
    array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'],
          dtype='|S11')

## Return random bytes.

In [17]:
np.random.bytes(10)

b'mX\xfa\x89\x8f\xdfu\xbb)Q'

# Permutation

## Modify a sequence in-place by shuffling its contents.

In [18]:
x = np.random.randint(1, 10, size=10)

In [19]:
x

array([4, 4, 5, 4, 9, 6, 8, 7, 8, 6])

In [20]:
np.random.shuffle(x)

In [21]:
x

array([6, 7, 4, 6, 4, 4, 5, 8, 8, 9])

## Randomly permute a sequence, or return a permuted range.

In [22]:
np.random.permutation(np.linspace(1, 5, 5))

array([4., 1., 3., 2., 5.])

In [23]:
help(np.random.permutation)

Help on built-in function permutation:

permutation(...) method of mtrand.RandomState instance
    permutation(x)

    Randomly permute a sequence, or return a permuted range.

    If `x` is a multi-dimensional array, it is only shuffled along its
    first index.

    Parameters
    ----------
    x : int or array_like
        If `x` is an integer, randomly permute ``np.arange(x)``.
        If `x` is an array, make a copy and shuffle the elements
        randomly.

    Returns
    -------
    out : ndarray
        Permuted sequence or array range.

    Examples
    --------
    >>> np.random.permutation(10)
    array([1, 7, 4, 3, 0, 9, 2, 5, 8, 6])

    >>> np.random.permutation([1, 4, 9, 12, 15])
    array([15,  1,  9,  4, 12])

    >>> arr = np.arange(9).reshape((3, 3))
    >>> np.random.permutation(arr)
    array([[6, 7, 8],
           [0, 1, 2],
           [3, 4, 5]])

In [24]:
df = pd.read_csv('../data/titanic/train.csv')

In [25]:
df1 = df.loc[:, ('Age', 'Fare')].dropna(how='any')

In [26]:
np.array(df1)

array([[22.    ,  7.25  ],
       [38.    , 71.2833],
       [26.    ,  7.925 ],
       ...,
       [19.    , 30.    ],
       [26.    , 30.    ],
       [32.    ,  7.75  ]])

## Numpy array "append"

In [27]:
a1 = np.random.randint(1, 10, 10)
a2 = np.random.randint(11, 20, 10)
a3 = np.vstack((a1, a2))
a3

array([[ 9,  4,  2,  2,  1,  4,  6,  2,  6,  6],
       [18, 17, 13, 13, 16, 17, 18, 13, 19, 12]])

## Numpy array "pop"

In [28]:
a3

array([[ 9,  4,  2,  2,  1,  4,  6,  2,  6,  6],
       [18, 17, 13, 13, 16, 17, 18, 13, 19, 12]])

In [29]:
last, a3 = a3[-1], a3[:-1]

In [30]:
last, a3

(array([18, 17, 13, 13, 16, 17, 18, 13, 19, 12]),
 array([[9, 4, 2, 2, 1, 4, 6, 2, 6, 6]]))

## Pandas Dataframe

In [40]:
df2 = df.loc[(10,20,30), :]

In [41]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C

In [45]:
df2.loc[10] = df.loc[100]

In [85]:
df2.iloc[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S

In [76]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [56]:
np.random.choice(range(10), 20)

array([3, 4, 2, 3, 3, 3, 4, 9, 6, 4, 1, 5, 6, 1, 8, 1, 0, 2, 6, 8])

In [57]:
np.random.randint(1, 10, 20)

array([7, 8, 7, 3, 9, 4, 8, 6, 1, 3, 5, 6, 4, 8, 4, 6, 1, 4, 3, 5])

In [60]:
np.array([])

array([], dtype=float64)

In [61]:
n1=np.random.randint(1, 10, 20)

In [62]:
n1

array([2, 8, 1, 8, 6, 9, 4, 1, 6, 2, 9, 8, 8, 4, 2, 8, 1, 6, 7, 4])

In [63]:
n1[n1==8]

array([8, 8, 8, 8, 8])

In [67]:
p1=pd.Series(n1)

In [71]:
i1= p1[p1==8].index

In [72]:
i1

Int64Index([1, 3, 11, 12, 15], dtype='int64')

In [73]:
p1[i1]

1     8
3     8
11    8
12    8
15    8
dtype: int64